---
# =============================================================================
# User
# =============================================================================

user_name: production-user-name
user_path: /home/production-user-name


# =============================================================================
# Ruby
# =============================================================================

ruby_version:     2.1.1


# =============================================================================
# New Relic
# =============================================================================

newrelic_license_key: xxxxx....


# =============================================================================
# MySQL
# =============================================================================

mysql_db_name:            production-db-name
mysql_root_user_name:     production-root-user-name
mysql_root_user_password: production-root-user-password
mysql_user_name:          production-user-name
mysql_user_password:      production-user-password

mysql_innodb_buffer_pool_size: production-innodb-buffer-pool-size


# =============================================================================
# Rails
# =============================================================================

rails_env: production


# =============================================================================
# Redis
# =============================================================================

redis_version: 2.8.13


# =============================================================================
# Backup
# =============================================================================

backup_s3_access_key_id:             production-s3-access-key
backup_s3_secret_access_key:         production-s3-secret-access-key
backup_s3_bucket_name:               production-s3-bucket-name
backup_s3_bucket_path:               production-bucket-path
backup_notifier_email_from:          production-sender-email
backup_notifier_email_to:            production-email-to
backup_notifier_email_user_name:     production-email-user-name
backup_notifier_email_password:      production-email-password
