---
# =============================================================================
# User
# =============================================================================

user_name: staging-user-name
user_path: /home/staging-user-name


# =============================================================================
# Ruby
# =============================================================================

ruby_version:     2.1.2


# =============================================================================
# New Relic
# =============================================================================

newrelic_license_key: xxxxx....


# =============================================================================
# MySQL
# =============================================================================

mysql_db_name:            staging-db-name
mysql_root_user_name:     staging-root-user-name
mysql_root_user_password: staging-root-user-password
mysql_user_name:          staging-user-name
mysql_user_password:      staging-user-password

mysql_innodb_buffer_pool_size: staging-innodb-buffer-pool-size


# =============================================================================
# Rails
# =============================================================================

rails_env: staging


# =============================================================================
# Redis
# =============================================================================

redis_version: 2.8.13


# =============================================================================
# Backup
# =============================================================================

backup_s3_access_key_id:             staging-s3-access-key
backup_s3_secret_access_key:         staging-s3-secret-access-key
backup_s3_bucket_name:               staging-s3-bucket-name
backup_s3_bucket_path:               staging-bucket-path
backup_notifier_email_from:          staging-sender-email
backup_notifier_email_to:            staging-email-to
backup_notifier_email_user_name:     staging-email-user-name
backup_notifier_email_password:      staging-email-password
