data_directory = '/var/lib/postgresql/9.3/main'		# use data in another directory
hba_file = '/etc/postgresql/9.3/main/pg_hba.conf'	# host-based authentication file
ident_file = '/etc/postgresql/9.3/main/pg_ident.conf'	# ident configuration file
external_pid_file = '/var/run/postgresql/9.3-main.pid'			# write an extra PID file
unix_socket_directories = '/var/run/postgresql'	# comma-separated list of directories

port = 5432				# (change requires restart)
max_connections = 100			# (change requires restart)
shared_buffers = 128MB			# min 128kB

ssl = true				# (change requires restart)
ssl_cert_file = '/etc/ssl/certs/ssl-cert-snakeoil.pem'		# (change requires restart)
ssl_key_file = '/etc/ssl/private/ssl-cert-snakeoil.key'		# (change requires restart)


log_line_prefix = '%t '			# special values:
log_timezone = 'Japan'

datestyle = 'iso, mdy'
timezone = 'UTC'

lc_messages = 'en_US.UTF-8'			# locale for system error message
lc_monetary = 'en_US.UTF-8'			# locale for monetary formatting
lc_numeric = 'en_US.UTF-8'			# locale for number formatting
lc_time = 'en_US.UTF-8'				# locale for time formatting

default_text_search_config = 'pg_catalog.english'
