---
# =============================================================================
# User
# =============================================================================

user_name: production-user-name
user_path: /home/production-user-name


# =============================================================================
# Ruby
# =============================================================================

ruby_gemset_name: production-gemset
ruby_version:     2.1.1


# =============================================================================
# New Relic
# =============================================================================

newrelic_license_key: xxxxx....


# =============================================================================
# PostgreSQL
# =============================================================================

postgresql_db_name:            production-db-name
postgresql_user_name:          production-user-name
postgresql_user_password:      production-user-password
postgresql_root_user_name:     production-root-user-name
postgresql_root_user_password: production-root-user-password


# =============================================================================
# Rails
# =============================================================================

rails_env: production


# =============================================================================
# God
# =============================================================================

god_project_name:              production-project-name
god_alert_email_from:          production-email
god_alert_email_from_password: production-email-password


# =============================================================================
# Backup
# =============================================================================

backup_s3_access_key_id:             production-s3-access-key
backup_s3_secret_access_key:         production-s3-secret-access-key
backup_s3_bucket_name:               production-s3-bucket-name
backup_s3_bucket_path:               production-bucket-path
backup_notifier_email_from:          production-sender-email
backup_notifier_email_from_password: production-sender-email-password
backup_notifier_email_to:            production-receiver-email
