---
# =============================================================================
# User
# =============================================================================

user_name: staging-user-name
user_path: /home/staging-user-name


# =============================================================================
# MySQL
# =============================================================================

mysql_db_name:        staging_database
mysql_user_name:      staging-user-name
mysql_user_password:  staging-user-password
mysql_root_user_name: staging-root-user-name
mysql_root_password:  staging-root-user-password

mysql_innodb_buffer_pool_size: 256M


# =============================================================================
# Ruby
# =============================================================================

ruby_gemset_name: staging-gemset
ruby_version:     2.1.1


# =============================================================================
# New Relic
# =============================================================================

newrelic_license_key: xxxxx....


# =============================================================================
# Rails
# =============================================================================

rails_env: staging


# =============================================================================
# God
# =============================================================================

god_project_name:              staging-project-name
god_alert_email_from:          staging-email
god_alert_email_from_password: staging-email-password
