- name: apt-get update
  apt:
    update_cache: yes

- name: apt-get upgrade
  apt:
    upgrade: full

- name: 必要そうなパッケージをインストールする
  apt:
    pkg: "{{ item }}"
    state: installed
  with_items:
    - build-essential
    - curl
    - g++
    - git
    - language-pack-ja
    - libcurl4-openssl-dev
    - make
    - python-software-properties
    - vim
    - wget
    - libreadline-dev # Rubyをインストールするとき必要
